.overlay{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContainer{
    max-width: 600px;
    width: 100%;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    background-color: #ffffff;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
}

.closeBtn{
    position: fixed;
    top: 8px;
    right: 8px;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 3rem;
    padding: 1rem 2rem;
}

.carouselContainer{
    max-width: 800px;
    margin: 0 auto;
}